*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blob{
    position: absolute;
    width: 2361px;
    height: 882.5px;
    top: -474px;
    left: -422px;
    background: linear-gradient(#642EFF 55.55%,#4C0783 100%);
    z-index: 1;
    border-radius: 0 0 60% 60%/0 0 100% 100%;
}

.login-box{
    z-index: 2;
    filter: drop-shadow(0 0 30px rgba(0,0,0, 0.25));
}

.wrapper{
    width: 761px;
    height: 582px;
    top: 117px;
    left: 339px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(88% 0, 100% 12%, 100% 100%, 12% 100%, 0 88%, 0 0);
}
