@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blob{
    position: absolute;
    width: 2361px;
    height: 882.5px;
    top: -474px;
    left: -422px;
    background: linear-gradient(180deg, #642EFF 53.54%, #4C0783 100%);
    z-index: 1;
    border-radius: 0 0 60% 60%/0 0 100% 100%;
}

.login-box{
    z-index: 2;
    filter: drop-shadow(0 0 30px rgba(0,0,0, 0.25));
}

.wrapper{
    width: 761px;
    height: 582px;
    top: 117px;
    left: 339px;
    background: #fff url("img/image.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(88% 0, 100% 12%, 100% 100%, 12% 100%, 0 88%, 0 0);
    background-size: 100% 100%;
}

.left-img{
    width: 361px;
    height: 582px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px;
    font-family: "Roboto", sans-serif;
}

.container{
    display: flex;
}

.left-img h1{
    font-size: 34px;
    font-weight: 700;
    line-height: 39.84px;
    text-align: left;
    white-space: pre;
}

.ordered-list{
    font-size: 17px;
    font-weight: 400;
    line-height: 19.92px;
    text-align: left;
    list-style-type: none;
    counter-reset: item;
    padding: 14px;
}

.ordered-list li{
    display: flex;
    align-items: flex-start;
    counter-increment: item;
    margin-bottom: 8px;
}

.ordered-list li::before{
    content: counter(item) ".";
    margin-right: 8px;
    width: 10px;
    text-align: right;
}

.right-form-box{
    width: 400px;
    height: 582px;
    padding: 50px;
    z-index: 4;
    background-color: #fff;
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: "Roboto", sans-serif;
}
.right-form-box h3{
    width: 196px;
    height: 28px;
    font-size: 24px;
    line-height: 28.13px;
    white-space: pre;
}
.input-control{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    position: relative;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: #09c372;
}
.input-control.error-message input{
    border-color: rgba(235, 87, 87, 1);
}
.input-control .error-message{
    color: rgba(235, 87, 87, 1);
    font-size: 13px;
    height: 15px;
    font-weight: 500;
    line-height: 15.23px;
    position: absolute;
}
.input-control input,select{
   width: 291px;
   height: 42px;
   border-radius: 4px;
   border: 2px solid rgba(189, 189, 189, 1); 
   margin-top: 4px;
   padding: 10px;
}
.input-control #optional{
    font-size: 12px;
    line-height: 14.06px;
}
.pick-date{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    position: relative;
}
#date-error{
    top: 65px;
}
.pick-date span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  
.pick-date span label{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: rgba(102, 102, 102, 1);
}
.pick-date input{
    width: 50px;
    font-size: 16px;
    font-weight: 400;
}
.pick-date #date {
    width: 50px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
  }

  .pick-date input[type="number"]::-webkit-outer-spin-button,
  .pick-date input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
.pick-date select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 30px;
    padding-left: 6px;
    font-weight: 400;
    font-size: 16px;  
}
.pick-date #month{
    width: 115px;
}
.pick-date #year{
    width: 105px;
}
.input-control #password{
    -webkit-text-security: disc;
}
.input-control .user-type{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    display: flex;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-top: 10px;
}
.radio + .radio{
    margin-left: 55px;
}
.radio input[type="radio"]{
    display: none;
}
.radio span{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid rgba(189, 189, 189, 1);
    display: block;
    position: absolute;
    top: -2px;
    margin-left: -28px;

}
.user-type label input:checked + span{
    border: 2px solid rgba(45, 156, 219, 1);
}
.radio span:after{
    content: "";
    height: 11px;
    width: 11px;
    background: rgba(45, 156, 219, 1);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span:after{
    transform: translate(-50%, -50%) scale(1);
}
.submit-button{
    width: 188px;
    height: 44px;
    border-radius: 4px;
    background: rgba(45, 156, 219, 1);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
